################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JAM_Oct_2019_BloodPressureDefense/v16/Server/sqlite3
